<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{font-family: arial;background-color: #ccc;}
        .rangkasurat{width: 980px;margin: 0 auto; background-color: #fff;height: 800px;padding: 40px;}
        table{padding: 10px;}
        .tengah{text-align: center;line-height: 5px;}
        table tr .text{text-align: right; font-size: 30;}
   </style>

</head>
<body>
    <div class="rangkasurat">
        <table width="100%">
            <tr></tr>
                <td class="tengah">
                    <h3>PEMERINTAH DAERAH PROVINSI JAWA TIMUR</h3>
                    <h3>DINAS PENDIDIKAN</h3>
                    <h2>SEKOLAH MENENGAH KEJURUAN NEGERI 1</h2>
                    <h5>JL.SMEA No.4 Wonokromo Telp 031-8292039 email info.smkn1sby@gmail.com</h5>
                    <h3>SURABAYA</h3>
                    
                </td>
            </tr>
        </table>
            <table  width="870px">
                <tr>
                    <td class="text">Surabaya,...............</td>
                </tr>
            </table>
            <table >
                <tr>
                    <td width="100px">Perihal</td>
                    <td width="735px">:Panggilan Orang Tua/Wali</td>
                </tr>
                <tr>
                    <td>kualifikasi</td>
                    <td width="735px">:Penting</td>
                </tr>
            </table>
            <br>    
            <table width="870px">
                <tr>
                    <td>Yth.Bapak/Ibu Orang Tua/Wali Murid</td>
                </tr>
                <tr>
                    <td>Di-<p>SMKN 1 Surabaya</p></td>
                </tr>
            </table>
            <div style="width: auto;height: auto;">
                <tr>
                    <td>Hari :</td>
                    <td>Tanggal:</td>
                </tr>
            </div>
        </div>
</body>
</html>